<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <H6>Hello <br>There is a new enquiry</b></H6><br>
        <p>{{message}}</p><br>
        <h3>Product Details:</h3>
        <table>
            <tr>
                <td>Product</td>
                <td>{{ product }}</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>{{ brand }}</td>
            </tr>
            <tr>
                <td>Service Type</td>
                <td>{{ service }}</td>
            </tr>
        </table>
        <p>Thanks & Regards</p><br>
        <H6>{{name}}</H6><br>
        <H6>{{phone_number}}</H6><br>
        <h6>{{address}}</h6><br>
    </body>
</html>
